<style>
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }


  body {
    max-width: 30em;
    margin: 0 auto 5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    font-family: Helvetica, arial, serif;
    line-height: 1.5;
    color: #444;
  }


  h1, .heart {
    color: red;
  }


  ul {
    padding-left: 1.1em;
  }

  a {
    background-color: transparent;
  }

    a, a:visited, h2 {
      color: #222;
    }

    a:hover {
      color: red;
      text-decoration: none;
    }
    
    a:active,
      a:hover {
      outline: 0;
    }

  b,
  strong {
    font-weight: bold;
  }

  small {
    font-size: 80%;
  }

  section {
    margin: 4em 0;
  }


  footer {
    text-align: center; 
  }

  .latestWork {
    list-style-type: square;
    color: red;
  }
    
    .latestWork:hover {
      color: #444;
    }


  .updatesList {
    list-style-type: none;
    padding-left: 0;
  }

  .update {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px dotted #222;
    font-family: 'Courier New', 'Courier', monospace;
  }

    .update:first-child {
      border-top: 1px dotted #222;
    }

    .update h3 {
      margin: 0;
      font-size: 1em;
      font-weight: normal;
    }

  .updateCategory {
    text-transform: uppercase;
    font-weight: bold;
    color: red;
  }

  .updateDate {
    text-transform: uppercase;
    font-weight: bold;
  }

  .updateComments {
    margin: 0;
    padding-left: 1em;
    font-style: italic;
  }

  @media screen and (min-width: 30em) {
    body {
      font-size: 131.25%;
    }
  }
</style>