/* line 3, ../_sass/style.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/* line 19, ../_sass/style.scss */
html {
  font-family: Helvetica, arial, serif;
  line-height: 1.4;
  text-size-adjust: 100%; }

/* line 25, ../_sass/style.scss */
body {
  color: #222;
  font-family: 'museo-sans';
  font-weight: 300;
  margin: 0 auto 5em;
  max-width: 30em;
  padding-left: .75em;
  padding-right: .75em; }

/* line 36, ../_sass/style.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500; }

/* line 45, ../_sass/style.scss */
h1 {
  font-weight: 400; }

/* line 49, ../_sass/style.scss */
h1,
.heart {
  color: #f00; }

/* line 54, ../_sass/style.scss */
ul {
  padding-left: 1.1em; }

/* line 58, ../_sass/style.scss */
a {
  background-color: transparent; }

/* line 62, ../_sass/style.scss */
a,
a:visited,
h2 {
  color: #222; }

/* line 68, ../_sass/style.scss */
a:hover {
  color: red;
  text-decoration: none; }

/* line 73, ../_sass/style.scss */
a:active,
a:hover {
  outline: 0; }

/* line 78, ../_sass/style.scss */
b,
strong {
  font-weight: 500; }

/* line 83, ../_sass/style.scss */
small {
  font-size: 80%; }

/* line 87, ../_sass/style.scss */
section {
  margin: 2em 0; }

/* line 91, ../_sass/style.scss */
footer {
  text-align: center; }

/* line 96, ../_sass/style.scss */
.latestWork {
  color: #f00;
  list-style-type: square; }

/* line 101, ../_sass/style.scss */
.latestWork:hover {
  color: #444; }

/* line 106, ../_sass/style.scss */
.updatesList {
  list-style-type: none;
  padding-left: 0; }

/* line 111, ../_sass/style.scss */
.update {
  border-bottom: 1px dotted #222;
  font-family: 'Courier New', 'Courier', monospace;
  padding-bottom: .5em;
  padding-top: .5em; }

/* line 118, ../_sass/style.scss */
.update:first-child {
  border-top: 1px dotted #222; }

/* line 122, ../_sass/style.scss */
.updateDate,
.updateCategory,
.updateTitle {
  font-weight: bold; }

/* line 128, ../_sass/style.scss */
.updateCategory {
  color: #f00;
  text-transform: uppercase; }

/* line 133, ../_sass/style.scss */
.updateDate {
  text-transform: uppercase; }

/* line 137, ../_sass/style.scss */
.updateComments {
  display: block;
  margin-top: 0.5em; }

@media screen and (min-width: 30em) {
  /* line 143, ../_sass/style.scss */
  body {
    font-size: 143%; }

  /* line 147, ../_sass/style.scss */
  section {
    margin: 3em 0; } }
